@font-face {
    font-family: 'SN Pro';
    src: url('fonts/SNPro-Medium.ttf');
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);

}

.logo img {
    height: 55px;
    width: 200px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 200px;
    padding-left: 50px;
}

.menu li a {
    text-decoration: none;
    color: #555555ad;
    font-size: 15px;
    position: relative;
    letter-spacing: 0.3px;
}

.menu li a.active {
    color: #2e8b57;
    font-weight: 600;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 5px;

}

.btn.sponsor:hover {
    cursor: pointer;
    background-color: #8DC63F;
}

.btn.donate:hover {
    cursor: pointer;
    background-color: #8DC63F;
}

.btn {
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.sponsor {
    background-color: #1e6dffe3;
}

.donate {
    background-color: #1e6dffe3;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #0e6d32;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.menu a:hover::after {
    width: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
}

.main-text {
    width: 50%;
    margin-bottom: 50px;
    margin-left: 30px;

}

.main-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.795);
}

.main-text h1 span {
    color: #8dc63f;
}

.main-text h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.822);
    margin-bottom: 15px;
}

.main-text h3 a {
    color: #0d6dfdde;
    text-decoration: none;
}

.main-text p {
    color: #080808dc;
    line-height: 1.6;
    margin-bottom: 25px;
}

.main-text button {
    padding: 15px 22px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
}

.donation-section {
    background: #ddf0c2;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0px 50px;
    justify-content: center;
    gap: 15px;
    border-radius: 10px;
    height: 130px;
}

.amount-box {
    display: flex;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    size: 50px;
    border: 1px solid black;
}

.amount-box button {
    background: #333;
    color: #fff;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
}

.amount-box input {
    border: none;
    width: 120px;
    padding: 20px;
    outline: none;
}

.amount-box span {
    background: #333;
    color: #fff;
    padding: 12px 15px;
    display: flex;
    align-items: center;
}

.donation-types {
    display: flex;
    gap: 12px;
    height: 60px;
    width: 700px;
}

.donation-types button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
    transform: scale(1.06);
}

.donation-types button {
    background: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 0 1px #c7c5c5;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.767);

}

.quick-donate {
    background: #8dc63f;
    color: #fff;
    border: none;
    padding: 20px 22px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.quick-donate:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.06);
}

.gaz {
    width: 100%;
}

.gaz img {
    width: 80%;
    margin-left: 140px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.boxs {
    padding: 60px 20px;
    text-align: center;
}

.boxs h2 {
    font-size: 34px;
    margin-bottom: 45px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}

.box,
.box3 {
    width: 200px;
    height: 170px;
    background-color: #eef9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box3:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}

.box:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}

.box3 img {
    height: 80px;
    margin-bottom: 10px;
}

.box img {
    width: 60px;
    margin-bottom: 20px;
}

.box p,
.box3 p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}



.dosection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.domedical,
.doflood,
.dokifalat {
    height: 260px;
    border-radius: 18px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.domedical {
    background-image: url("./assets/med.jpg");
}

.domedical:hover {
    opacity: 0.9;
}

.dokifalat {
    background-image: url("./assets/fam.jfif");
}

.dokifalat:hover {
    opacity: 0.9;
}

.doflood {
    background-image: url("./assets/flood.jpg");

}

.doflood:hover {
    opacity: 0.9;
}

.overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay h3 {
    color: #fff;
    font-size: 18px;
}

.small-text {
    color: #ddd;
    font-size: 13px;
}


.yellow {
    color: #ffffff;
    text-shadow: 2px 2px #fff12b;
    font-size: 30px;
    font-weight: bold;
}

.gray {
    background: #bfbfbf;
    color: #000;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
}

button {
    width: 200px;
    padding: 12px;
    background: #8cc63f;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}



.other-projects {
    width: 75%;
    margin: auto;
}

.other-projects h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.project {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.icon-box {
    width: 70px;
    height: 70px;
    background: #b8b5b570;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box img {
    width: 40px;
}

.text h3 {
    margin: 8px 0 6px;
    color: #0066ccea;
    font-size: 18px;
}

.text p {
    margin: 0;
    color: #555;
    line-height: 1.6;
    font-size: 14px;
}


.bane {
    background: #0f6db5;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 400px;
    margin-top: 90px;
    align-items: center;
    margin-left: 70px;
}


.bane::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: repeating-linear-gradient(-10deg,
            rgba(255, 255, 255, 0.08),
            rgba(255, 255, 255, 0.08) 1px,
            transparent 2px,
            transparent 12px);
    top: -50%;
    left: -50%;
}

.bancontainer {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.stat-box {
    text-align: center;
    color: #fff;
    width: 22%;
}

.circle {
    width: 110px;
    height: 110px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img {
    width: 55px;
}

.banbox h3 {
    margin: 15px 25px 5px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.897);
    font-family: 'SN Pro', sans-serif;
}

.banbox p {
    margin-left: 25px;
    font-size: 15px;
    color: white;
    font-family: 'SN Pro', sans-serif;
}

.banbox span {
    font-size: 13px;
    opacity: 0.9;
    font-family: 'SN Pro', sans-serif;
}



.tt {
    text-align: center;
    margin: 50px 0px;
}

.tt h3 {
    color: #bcca3d;
    font-family: 'SN Pro', sans-serif;
    margin-bottom: 15px;
    font-weight: 100;
}

.tt h1 {
    font-family: 'SN Pro', sans-serif;
    color: rgba(0, 0, 0, 0.856);
}

.testimonial {
    background: #dddcdcb2;
    padding: 70px 0;
    margin: 0px 80px;
}

.card {
    width: 75%;
    margin: auto;
    text-align: center;
}

.profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h3 {
    color: #0b63ce;
    margin: 10px 0 3px;
}

.card span {
    font-size: 14px;
    color: #333;
}

.card p {
    margin: 25px auto;
    line-height: 1.8;
    color: #333;
    font-size: 16px;
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.arrows button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.prev {
    background: #fff;
}

.next {
    background: #8dc63f;
    color: #fff;
}

.media {
    margin-top: 80px;
    margin-bottom: 70px;
    text-align: center;
    color: rgba(0, 0, 0, 0.795);
}

.maw {
    margin-bottom: 50px;
    align-items: center;
    flex-direction: row;
}

.mae {
    margin-left: 40px;
}

.mae img {
    height: 300px;
    width: 300px;
    margin: 10px;
}

.mae img:hover {
    opacity: 0.9;
}

.mai {
    margin-left: 40px;
    margin-top: 20px;
}

.mai img {
    height: 300px;
    width: 300px;
    margin: 10px;
}

.mai img:hover {
    opacity: 0.9;
}

.news {
    margin-bottom: 40px;
}

.nem h1 {
    color: #000000da;
    text-align: center;
}



.carcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 30px;
    font-family: 'SN Pro', sans-serif;
    color: rgba(0, 0, 0, 0.767);
}

.car {
    background: #e0e0e0c7;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.car:hover {
    transform: translateY(-5px);
}

.car img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dat {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #6cc04a;
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 20px;
}

.car h3 {
    padding: 15px;
    font-size: 16px;
    line-height: 1.4;
}

.arro {
    width: 40px;
    height: 40px;
    background: #fffbfb;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
}


.nletter {
    background: url('./assets/gui.png') center/cover no-repeat;
    background-color: #1f74b7;
    padding: 20px 20px;
    margin: 10px 50px;
    font-family: 'SN Pro', sans-serif;
}

.ovy {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    border-radius: 6px;
}

.ovy h2 {
    color: #ffffffef;
    margin-bottom: 25px;
    font-size: 28px;
}

.sform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.sform input {
    padding: 14px;
    width: 550px;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    color: white;

}

.sform input::placeholder {
    color: #cccaca;
}

.sform button {
    padding: 14px;
    background: #fff;
    color: #000;
    text-align: center;
    font-weight: bold;
    width: 550px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sform button:hover {
    background: #e6e6e6;
}



.footer {
    position: relative;
    background: #3f3f3f;
    color: #fff;
    padding: 60px 80px 30px;
    overflow: hidden;
    font-family: 'SN Pro', sans-serif;
}

.footerover {
    position: absolute;
    inset: 0;
    background: url("./assets/bg.png") center/cover no-repeat;
    opacity: 0.39;
}

.footer-container {
    position: relative;
    display: flex;
    gap: 60px;
    z-index: 1;
}

.footer-left {
    width: 25%;
}

.logoe {
    width: 250px;
    height: 90px;
    margin-bottom: 20px;
}

.social-icons i {
    background: #1e1e1e;
    padding: 10px;
    border-radius: 6px;
    margin-right: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.badges img,
.store-buttons img {
    margin-top: 15px;
    width: 120px;
    display: block;
    margin-bottom: 10px;
}

.footer-col {
    width: 20%;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #ddddddcc;
}

.footer-col ul li:hover {
    color: #fff;
}

.contact p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #ddd;
}

.footer-bottom {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 120px;
    z-index: 1;
    height: 100px;

}

.footer-bottom img {
    display: block;
    margin: auto;
    height: 80px;

}

.footer-bottom span {
    font-size: 16px;
    text-align: center;
    font-family: 'SN Pro', sans-serif;
}

hr {
    margin-top: 50px;
    color: rgb(167, 167, 167);
}

.end {
    text-align: center;
}

.end p {
    margin-top: 10px;
    opacity: 0.9;
    color: rgb(255, 255, 255);
}